%input {
	background: rgba(white, 0.5);
	max-width: 100%;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	padding: 0.5rem 0.7rem;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@extend %input;
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
