.site-header {
  background: #002b36;
  color: #eee8d5;
  a {
    color: #268bd2;
  }
  margin-bottom: 2em;
  padding: 3em 0 0.7em;
}

.site-content, .site-footer, .site-header__inner {
	width: 92vw;
  max-width: $size__site-max-text-width;
  margin: 0 auto;
}

.site-branding {
  font-size: 1.2em;
  display: inline-block;
  border-bottom: 2px solid $color__border;
  margin-bottom: 0.7em;
	padding-bottom: 0.25em;
  a {
    color: #cb4b16;
    text-decoration: none;
  }
}

.site-description {
  font-size: 0.7em;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
