.sticky {
	.entry-title::after {
		content: "📌";
		float: right;
		filter: grayscale(1);
	}
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.entry-meta {
  font-size: 0.65em;
  color: $color__text-light;
  a {
    color: inherit;
  }
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article {
  border-bottom: 2px solid $color__border;
  padding-bottom: 2em;
}

article p:first-child {
  margin-top: 0;
}

.post-thumbnail {
  img {
    border-radius: 2px;
  }
}

@media ( min-width: 600px ) {
  .blog {
    .post-thumbnail img {
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
  }
}

.entry-title {
  margin-bottom: 0em;
  color: $color__text-heading;
  a {
    text-decoration: none;
  }
}

.entry-header {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid $color__border;
}

.blog {
  .entry-header {
    border-bottom: none;
    margin-bottom: 0;
  }
  .entry-content {
    margin-top: 0.5em;
  }
}
